@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sofia+Sans:wght@200&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Julius+Sans+One&family=Sofia+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Sofia+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&family=Source+Sans+Pro&display=swap');


*{
	margin: 0;
	padding: 0;
}


.main{
	padding-left: 300px;
	background: linear-gradient(to Bottom,#ffffff, #e6e6ff,  #d6d6ff);*/
	width: 90vw ;

}

.container{
	display: flex;

}

.infocontainer{
/*	background-color: green;*/
	margin: 145px auto;
	height: 60vh;
	width: 80vw;
	display: flex;
	justify-content: space-around;
}

.devInfo{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Source Code Pro', monospace;
}

.hello{
	font-size: 60px;
}

.name{
	font-size: 55px;
/*	font-weight: bold;*/
	font-family: 'Source Sans Pro', sans-serif;
/*	font-family: 'Poiret One', cursive;*/
/*	font-family: 'Poppins', sans-serif;*/
/*	font-family: 'Sofia Sans', sans-serif;*/
}


.about{
	font-size: 30px;
	margin-top: 20px;
}


.description{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
/*	padding: 25px;*/
}

.buttons{
	margin-top: 35px;
}

.buttons button{
	padding: 12px;
	border-radius: 25px;
	border-color: black;
/*	color: black;*/
/*	background: linear-gradient(to bottom,#0099ff, #80ccff, #ccebff);*/
/*	background-color: #33adff;*/
/*	background-color: #59bdff;*/
	background-color: #d0d0d0;
/*	font-family: 'Poppins', sans-serif;*/
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
	font-size: 15px;
	margin: 0 3px;
}

.buttons button:hover{
	background-color: white;
	transition: .5s;
	display: inline-block;
	margin: 0px 5px;
}


.devPic img {

	height: 400px;
	width: 390px;
	border-radius: 200px;

}